<h5 class="author-name">{{comment.author}}</h5>

<button type="button" class="toggle-comment btn btn-default btn-xs" {{action 'toggleComment'}}>
  {{if isCommentVisible 'hide' 'show'}}
</button>

{{#if isCommentVisible}}
  <p>
    {{{comment.comment_text}}}
  </p>
{{/if}}

<div class="meta">
  <ul class="list-inline">
    <li>
      <span>{{moment-from-now comment.created_at}}</span>
    </li>
  </ul>
</div>